Repository CMPUT301F21T06/TheHabitController, pull requests merged in 2021-11, with the labels that each got.

#32 habit edit, deletion works with firestore now
  TheHabitController/.gitignore
  TheHabitController/.idea/navEditor.xml
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/res/layout/fragment_edit_habit_activity.xml
  TheHabitController/app/src/main/res/navigation/nav.xml
  TheHabitController/app/src/main/res/values/strings.xml
Labels: enhancement, Firestore, Habit Class

#34 fixed formatting, and added javadoc to all Habit activities and Habit class for javadoc generation
  TheHabitController/.idea/deploymentTargetDropDown.xml
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/DatePicker.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/habitArrayAdapter.java
Labels: documentation, Habit Class

#35 more headers and documentation for habits class and stuff
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/habitArrayAdapter.java
Labels: documentation, JavaDoc, User Class

#46 finished intent testing for habit list and associated fragments
  TheHabitController/app/build.gradle
  TheHabitController/app/src/androidTest/java/com/example/thehabitcontroller_project/ExampleInstrumentedTest.java
  TheHabitController/app/src/androidTest/java/com/example/thehabitcontroller_project/TestHabitFragments.java
  TheHabitController/app/src/test/java/com/example/thehabitcontroller_project/HabitClassUnitTest.java
Labels: documentation, Habit Class, Testing

#47 created new workflow
  .github/workflows/android.yml
Labels: Testing, Continuous Integration

#49 adding char limits and curr user
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/res/layout/habit_info_reusable_layout.xml
Labels: enhancement, Habit Class

#56 added in initial visual indicator for habits
  TheHabitController/app/src/main/res/layout/habit_content.xml
  TheHabitController/app/src/main/res/values/colors.xml
  TheHabitController/app/src/main/res/values/strings.xml
Labels: enhancement, Habit Class

#57 fixed deletion bug for habits
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
Labels: bug, Habit Class

#58 added indexing/ordering for habits list
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/res/layout/habit_content.xml
Labels: enhancement, Firestore, Habit Class

#59 fixing comment
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
Labels: documentation, Habit Class

#61 Intent Test case for MainActivity
  TheHabitController/app/src/androidTest/java/com/example/thehabitcontroller_project/MainActivityTest.java
Labels: Testing

#70 added functionality for habits to add a weekly schedule
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/res/layout/habit_info_reusable_layout.xml
  TheHabitController/app/src/main/res/layout/weekly_schedule_picker.xml
  TheHabitController/app/src/main/res/values/strings.xml
Labels: enhancement, Habit Class

#76 Added daily habits functionality to main page
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/DailyHabitArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EventArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EventsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HomeFragmentActivity.java
  TheHabitController/app/src/main/res/layout/daily_habits_content.xml
  TheHabitController/app/src/main/res/layout/fragment_home.xml
  TheHabitController/app/src/main/res/layout/habit_content.xml
  TheHabitController/app/src/main/res/layout/weekly_schedule_picker.xml
  TheHabitController/app/src/main/res/navigation/nav.xml
Labels: enhancement, Habit Class

#78 Steven branch
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HomeFragmentActivity.java
  TheHabitController/app/src/main/res/layout/weekly_schedule_picker.xml
Labels: enhancement, Habit Class, Habit Event Class

#79 updated bug in habit indicator
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitArrayAdapter.java
Labels: enhancement, Habit Class

#81 changed Habit layout for FAB to overlay list
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitArrayAdapter.java
  TheHabitController/app/src/main/res/layout/fragment_habits.xml
Labels: enhancement, Habit Class

#90 Added drag-drop for Habits, refactored into recycleview
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitItemTouchHelper.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitRecyclerAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HomeFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/ItemTouchHelperAdapter.java
  TheHabitController/app/src/main/res/layout/fragment_habits.xml
  TheHabitController/app/src/main/res/layout/habit_content.xml
Labels: enhancement, Habit Class

#92 fixed bugs with events page caused by habits
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/EventsFragmentActivity.java
  TheHabitController/app/src/main/res/layout/fragment_events.xml
Labels: bug, Habit Class, Habit Event Class

#94 trying to error handle for daily habits
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HomeFragmentActivity.java
Labels: bug, Habit Class

#95 trying to error handle for daily habits again for schedule
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/HomeFragmentActivity.java
Labels: bug, Habit Class

#96 refactoring source files into packages
  TheHabitController/app/src/androidTest/java/com/example/thehabitcontroller_project/UserTest.java
  TheHabitController/app/src/main/AndroidManifest.xml
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Community/CommunityFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Community/User.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Community/UserArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Community/UserProfileActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Community/UserSearchActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Community/ViewUserHabitFragment.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/AddEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EditEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/Event.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EventArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EventsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/EditHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitItemTouchHelper.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitRecyclerAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/ItemTouchHelperAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Helper/DatePicker.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/DailyHabitArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/HomeFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Login/LoginActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Login/RegisterActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/MainActivity.java
  TheHabitController/app/src/main/res/layout/activity_login.xml
  TheHabitController/app/src/main/res/layout/activity_register.xml
  TheHabitController/app/src/main/res/layout/activity_user_profile.xml
  TheHabitController/app/src/main/res/layout/activity_user_search.xml
  TheHabitController/app/src/main/res/layout/fragment_add_event_activity.xml
  TheHabitController/app/src/main/res/layout/fragment_add_habit_activity.xml
  TheHabitController/app/src/main/res/layout/fragment_community.xml
  TheHabitController/app/src/main/res/layout/fragment_edit_event_activity.xml
  TheHabitController/app/src/main/res/layout/fragment_edit_habit_activity.xml
  TheHabitController/app/src/main/res/layout/fragment_events.xml
  TheHabitController/app/src/main/res/layout/fragment_habits.xml
  TheHabitController/app/src/main/res/layout/fragment_home.xml
  TheHabitController/app/src/main/res/layout/fragment_view_user_habit.xml
  TheHabitController/app/src/main/res/navigation/nav.xml
  TheHabitController/app/src/test/java/com/example/thehabitcontroller_project/EventClassUnitTest.java
  TheHabitController/app/src/test/java/com/example/thehabitcontroller_project/HabitClassUnitTest.java
Labels: documentation, enhancement

#97 lots of documentation and testing for Habits, daily habits (home frag)
  TheHabitController/app/src/androidTest/java/com/example/thehabitcontroller_project/TestDailyHabitFragment.java
  TheHabitController/app/src/androidTest/java/com/example/thehabitcontroller_project/TestHabitFragments.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EventsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/AddHabitFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/Habit.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitItemTouchHelper.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitRecyclerAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/ItemTouchHelperAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/DailyHabitArrayAdapter.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/HomeFragmentActivity.java
  TheHabitController/app/src/main/res/layout/activity_login.xml
  TheHabitController/app/src/test/java/com/example/thehabitcontroller_project/HabitClassUnitTest.java
Labels: documentation, JavaDoc, Testing

#102 Steven branch
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EventsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitsFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/HomeFragmentActivity.java
Labels: bug, Habit Class

#103 more errpr catching for hpme frag
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/HomeFragmentActivity.java
Labels: bug, Habit Class

#104 more error catching for home frag
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Home/HomeFragmentActivity.java
Labels: bug, Habit Class

#109 added photos saving functionality and saving to storage
  TheHabitController/app/build.gradle
  TheHabitController/app/src/main/AndroidManifest.xml
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/AddEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EditEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/Event.java
Labels: enhancement, Habit Event Class

#110 added deletion of habits -> deleting related habit events
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/AddEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Event/EditEventFragmentActivity.java
  TheHabitController/app/src/main/java/com/example/thehabitcontroller_project/Habit/HabitsFragmentActivity.java
Labels: enhancement, Habit Class, Habit Event Class

#113 Mainul
  doc/Copy of CMPUT 301 UML.png
Labels: documentation, enhancement, UML
